<div class="mt-2">
  <form method="POST" action="">
    <div class="form-group">
      <label for="search-input">từ khóa</label>
      <input type="text" class="form-control" name="q" id="search-input" placeholder="nhập từ khóa">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>